@use "~/assets/styles/variables" as *;

// fonts
.font-normal
  font-style: normal

.font-bold
  font-weight: bold

.font-accent
  color: $accent1

.font-title-accent
  color: #E59714

a
  text-decoration: underline dotted $accent1 .2rem
  font-weight: bold
  font-style: normal
  color: black
  transition: color .2s ease-out, text-decoration .2s ease-out

  &:hover
    text-decoration: underline .1rem
    color: $accent1

h1
  margin-block: $phi1 $phi1
  font-size: $phi2

  @media screen and (min-width: 600px)
    margin-top: $phi2
    text-align: left
    font-size: $phi2_5

  @media screen and (min-width: 850px)
    font-size: $phi3

  & + p
    margin-block: 0 $phi2
    font-size: $phi1

    @media screen and (min-width: 600px)
      text-align: left
      font-size: $phi1_5

    @media screen and (min-width: 850px)
      font-size: $phi2

.font-xs
  margin-block: 0
  font-size: $phi-0_5
  font-style: italic

  @media screen and (min-width: 600px)
    font-size: $phi-0_75

h4 + p,
li p,
.font-s
    margin-block: 0
    font-size: $phi-0_75

    @media screen and (min-width: 600px)
      font-size: $phi1

.font-m
  font-size: $phi1

  @media screen and (min-width: 600px)
    font-size: $phi1_5

h4,
.font-l
    margin-block: 0
    font-size: $phi1_5
    font-weight: bold

    @media screen and (min-width: 600px)
      font-size: $phi2

.font-xl
  margin-block: 0
  font-size: $phi2

  @media screen and (min-width: 600px)
    font-size: $phi2_5

// Spaces
.margin-space
  margin-inline: $phi1 

  @media screen and (min-width: 600px)
    margin-inline: $phi2

  @media screen and (min-width: 850px)
    margin-inline: $phi3

// Other
li::marker
  color: $accent1
