@use "~/assets/styles/variables" as *;

@mixin flexbox-wrap
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: $gap_space

@mixin frame
  border: $border-section-framed solid $accent2
  border-radius: 25px
  background-color: $element-background-color

@mixin transition
  transition: border-bottom .4s ease-out, background-color .2s ease-out, transform .2s ease-out, box-shadow .25s ease-out

  &:hover
    border-bottom: 6px solid $accent1
    transition: border-bottom .4s ease-out, background-color .2s ease-out, transform .2s ease-out, box-shadow .25s ease-out
    box-shadow: 4px 4px 4px 0px $secondary
    transform: translate(-3px, -3px)

@mixin svg-icon
  width: 120px
  fill: $accent2

  @media screen and (min-width: 600px)
    width: 160px
